<!DOCTYPE html>
<html>
<head>
    <title>Drag and Drop File Upload</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<main class="with-sidebar content">
    <form class="config">
        <h2>Configurator</h2>
        <div class="drop-zone">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" name="file" class="drop-zone__input">
        </div>

        <span> OR </span>
        <input name="url" type="url" placeholder="URL du fichier" />
        <select name="type">
            <option value="" disabled selected>Type (CPU, memory...)</option>
            <option value="CPU">CPU</option>
            <option value="MEM">MEMORY</option>
        </select>
        <select name="graph">
            <option value="zoomable_sunburst">Zoomable Sunburst</option>
        </select>
        <input type="submit" value="Visualize" />
        <button>Reset</button>
    </form>
    <div id="visualization"></div>

</main>

<script>
    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateDropzone(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateDropzone(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    /**
     * Updates the thumbnail on a drop zone element.
     *
     * @param {HTMLElement} dropZoneElement
     * @param {File} file
     */
    function updateDropzone(dropZoneElement, file) {
        let filesList = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - there is no thumbnail element, so lets create it
        if (!filesList) {
            filesList = document.createElement("span");
            dropZoneElement.appendChild(filesList);
        }

        filesList.innerHTML = file.name;
    }

    async function getTree(formData) {
        fetch('/visualize', {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Erreur HTTP " + response.status);
                }
                return response.text();
            })
            .then(data => {
                // Traitez les données de la réponse ici
                // Traitez les données de la réponse ici
                console.log(data);

                let tree = document.getElementById("visualization")
                tree.innerHTML = data;
                // Binding des click post insert in DOM
                let toggler = document.getElementsByClassName("caret");
                console.log(toggler)
                let i;
                for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function () {
                        console.log("coucou")
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                    });
                }
            })
            .catch(error => {
                // Gérez les erreurs ici
                console.error(error);
            });
    }
</script>
</body>
</html>